flows.json
[
    {
        "id": "66a07e8c06c77e6f",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "658a1538db78308c",
        "type": "mqtt in",
        "z": "66a07e8c06c77e6f",
        "name": "",
        "topic": "/Aula02/Luis-Claudio/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "476920c41094476b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "993bd6bc17ecce06",
                "4fcbb1b43a8ea126",
                "90bacd0aee0c3a2d"
            ]
        ]
    },
    {
        "id": "993bd6bc17ecce06",
        "type": "debug",
        "z": "66a07e8c06c77e6f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "4fcbb1b43a8ea126",
        "type": "change",
        "z": "66a07e8c06c77e6f",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "c474778ef6dd4a49",
                "0cf48fe0c676b94d"
            ]
        ]
    },
    {
        "id": "90bacd0aee0c3a2d",
        "type": "change",
        "z": "66a07e8c06c77e6f",
        "name": "Extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "2b49ea599c0984f2",
                "d8f988d838091e3b",
                "ff46999cd82898ee"
            ]
        ]
    },
    {
        "id": "c474778ef6dd4a49",
        "type": "ui_chart",
        "z": "66a07e8c06c77e6f",
        "name": "Temperatura",
        "group": "88602fe480d88807",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2b49ea599c0984f2",
        "type": "ui_chart",
        "z": "66a07e8c06c77e6f",
        "name": "Umidade",
        "group": "9a465286c8667672",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0cf48fe0c676b94d",
        "type": "ui_text",
        "z": "66a07e8c06c77e6f",
        "group": "88602fe480d88807",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperatura Texto",
        "label": "Temperatura: ",
        "format": "{{msg.payload}} &deg;C",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "d8f988d838091e3b",
        "type": "ui_text",
        "z": "66a07e8c06c77e6f",
        "group": "9a465286c8667672",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Umidade Texto",
        "label": "Umidade: ",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "ff46999cd82898ee",
        "type": "ui_gauge",
        "z": "66a07e8c06c77e6f",
        "name": "Umidade",
        "group": "9a465286c8667672",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "476920c41094476b",
        "type": "mqtt-broker",
        "name": "BrokerMQTT",
        "broker": "192.168.0.10",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "88602fe480d88807",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "9cae086cbf1c7581",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a465286c8667672",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "9cae086cbf1c7581",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cae086cbf1c7581",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]